<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js">

</script>
<script th:inline="javascript">

         var token = /*[[${token}]]*/ 'default';
            var error = /*[[${error}]]*/ 'default';
            if(error == null){

(async()=>{
var excelData =[
["Date","Day","Project","Task","Time Spend","Note/ Description"]
];
var day = [ "Saturday","Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
let dayIndex = 1;
var month = [31,28,31,30,31];
var monthname = ["JANUARY","FEBRUARY","MARCH","APRIL","MAY",]
for (let i = 01; i <= 05; i++){

let data2222 = [monthname[i - 1]];
excelData.push(data2222)

for(let j = 01; j <= month[i-1]; j++) {
let arr = [];
var data = await fetch("https://apigateway.erp.chicmic.in/v1/timesheet/time?entryDate=2023-0"+i+"-" + j,
{
headers:{
"Authorization": token
}
})



data = await data.json();
if(data.data.length != 0){
arr[0]= j + "-" + i + "-2023";
arr[1] = day[((dayIndex++) % 7) - 0];
arr[2]="MISCELLANEOUS";
arr[3]="Training";
arr[4]=data.data[0].timeSpent;
arr[5]=data.data[0].notes;
}else {
arr[0]= j + "-" + i + "-2023";
arr[1] = day[((dayIndex++) % 7) - 0];
arr[2]="";
arr[3]="";
arr[4]="";
arr[5]="";
}

<!--console.log()-->
<!--if(data.data.length != 0)-->
<!--console.log(data.data[0].notes);-->
<!--console.log("**************************");}-->
<!--console.log("i??????????????????????????????????=" + i)-->


<!--console.log(arr);-->

excelData.push(arr);
}
}

 var workbook = XLSX.utils.book_new(),
            worksheet = XLSX.utils.aoa_to_sheet(excelData);
<!--worksheet.rows(0).cells(0).value("Center");-->

        workbook.SheetNames.push("First");
        workbook.Sheets["First"] = worksheet;
<!--        var worksheet = workbook.Sheets["First"];-->
<!--        worksheet.columns(0).width(6000);-->
<!--*********************************************-->
<!--        XSSFCellStyle style = workbook.createCellStyle();-->
<!--style.setBorderTop((short) 6); // double lines border-->
<!--style.setBorderBottom((short) 1); // single line border-->
<!--XSSFFont font = workbook.createFont();-->
<!--font.setFontHeightInPoints((short) 15);-->
<!--font.setBoldweight(XSSFFont.BOLDWEIGHT_BOLD);-->
<!--style.setFont(font);-->

<!--Row row = sheet.createRow(0);-->
<!--Cell cell0 = row.createCell(0);-->
<!--cell0.setCellValue("Nav Value");-->
<!--cell0.setCellStyle(style);-->
<!--*********************************************-->


        XLSX.writeFile(workbook, "Diary_Chicmic.xlsx");

})()

}else {
    alert(error);
}

</script>
</body>

</html>